<h1 class="title splashTitle">Name That Boot!</h1>
<p class="subtitle">A little game to help us learn student names.</p>

<a href="/sign_in" class="pinkButton splashButton">Sign in</a>
<p>Sign in with your socrates credentials to play.</p>
